.searchbar {
  padding: 1.5em 2em;
  max-width: 100%;
  // margin-bottom: 1em;
  // background-color: aqua;
  border-bottom: 1px solid gray;
  display: flex;
  gap: 1em;
  &__location {
    display: flex;
    align-items: center;
    padding: 0.7em 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
    justify-content: space-between;
    cursor: text;
    &:focus-within {
      outline: none;
      border-color: #3a55ec;
    }
    .icon {
      color: #3a77ff;
    }
    input {
      border: none; /* Remove default browser border */
      outline: none; /* Remove focus outline */
      flex: 1; /* Take up available space in flexbox */
      margin-left: 0.5em; /* Small gap after map icon */
      font-size: 0.9em; /* Text size */
      color: #333;
    }
    .arrow {
      cursor: pointer;
      margin-left: 0.5em;
      font-size: 1.2em;
    }
  }
  &__location-selector {
    flex: 3;
    position: relative;

    .location-dropdown {
      // height: 20vh;
      padding: 0.6em 1em;
      position: absolute;
      width: 100%;
      top: 110%;
      background-color: white;
      border: 1px solid rgb(240, 238, 238);
      border-radius: 0.5em;
      overflow-y: auto;
      max-height: 240px;
      // margin-top: 0.3em;

      .dropdown-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;
      }
      .current-location {
        cursor: pointer;
        color: #3a77ff;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 0.9em;
        display: flex;
        align-items: centers;
        gap: 0.4em;
      }
      .see-all {
        color: #333;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 0.9em;
        cursor: pointer;
      }
      .dropdown-section {
        ul {
          list-style: none;
          li {
            text-transform: capitalize;
            padding: 0.7em 0;
            border-bottom: 1px solid rgb(230, 228, 228);
            cursor: pointer;
            &:hover {
              background-color: #ebf1ff;
            }
            &:last-child {
              border-bottom: none;
            }
          }
        }

        .no-results {
          color: #707e80;
        }
        .section-title {
          margin-bottom: 0.5em;
          color: #707e80;
          font-weight: 600;
          font-size: 0.9em;
        }
      }
    }
  }
  &__search {
    flex: 6;
    // flex-basis: 60%;
    // background-color: aquamarine;
    display: flex;
    align-items: center;
    // padding: 0.6em 1em;
    .search-text {
      width: 100%;
      .search {
        width: 100%;
        padding: 1em;
        border: 1px solid gray;
        border-radius: 0.5em;
        box-sizing: border-box;
        border-right: none;
        border-radius: 0.5em 0 0 0.5em;
        &:focus {
          outline: none; /* remove default browser blue outline */
          border-color: #3a55ec;
        }
      }
    }
  }
  &__search-btn {
    padding: 0.75em;
    display: flex;
    gap: 0.3em;
    align-items: center;
    background-color: #002f34;
    border-radius: 0.5em;
    box-sizing: border-box;
    border-left: none;
    border-radius: 0 0.5em 0.5em 0;
    .search-icon {
      font-size: 1.1em;
      color: white;
      font-weight: 300;
    }
    .search-btn {
      border: none;
      background-color: inherit;
      color: white;
      font-size: 1.1em;
      text-transform: capitalize;
    }
  }
}
